

<form (ngSubmit)="salvar()">   
    
    <br/>
    <h3>{{titulo}}</h3>
    
    <label>Código:
        <input type="input" name="codigo" size="10" [(ngModel)]="pessoa.codigo" disabled/>
    </label><br/><br/>

    <label>Nome:
        <input type="input" name="nome" size="30" [(ngModel)]="pessoa.nome"/>
    </label><br/><br/>

    <label>Telefone:
        <input type="input" name="telefone" size="11" [(ngModel)]="pessoa.telefone"/>
    </label><br/><br/>

    <label>Endereço:
        <input type="input" name="endereco" size="30" [(ngModel)]="pessoa.endereco"/>
    </label><br/><br/>

    <label>Email:
        <input type="input" name="email" size="30" [(ngModel)]="pessoa.email"/>
    </label><br/><br/>

    <label>Usuario:
        <input type="input" name="usuario" size="30" [(ngModel)]="pessoa.usuario"/>
    </label><br/><br/>

    <label>Senha:
        <input type="input" name="senha" size="30" [(ngModel)]="pessoa.senha"/>
    </label><br/><br/>



    <label>Registro Ativo:
        <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="true">Sim
        <input type="radio" name="ativo" [(ngModel)]="pessoa.ativo" [value]="false">Não<br>
    </label><br/><br/>

    <button type="submit">Salvar</button>
</form>